<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${people.getName() +  ', ' + people.getYearOfBirth()}">Name</p>
<hr/>

<div th:if="${condition}">
    <a th:each="book : ${book}"
       th:href="@{book/{id}(id=${book.getBookId()})}">
        <span th:text="${book.getName()}"></span>,
        <span th:text="${book.getAuthor()}"></span>,
        <span th:text="${book.getYearOfPublishing()}"></span>
        <br/>
    </a>
</div>
<div th:unless="${condition}">
    <p>Человек пока не взял ни одной книги.</p>
</div>

<a th:href="@{/people/{id}/edit(id=${people.getPerson_id()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${people.getPerson_id()})}" th:object="${people}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>