<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о человеке</title>
</head>
<body>
<p th:text="${person.getName() +  ', ' + person.getYearOfBirth()}">Name</p>
<hr/>

<div th:if="${condition}">
    <p style="font-weight: bold;">Книги:</p>
    <div th:each="book : ${books}">
        <a th:href="@{/book/{id}(id=${book.getBookId()})}"
           th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ': ' + ${book.getYearOfPublishing()}"
           th:style ="${book.getOverdue()} ? 'color: red' : 'color: black' ">
        </a>
    </div>
</div>
<div th:unless="${condition}">
    <p>Человек пока не взял ни одной книги.</p>
</div>

<form th:action="@{/people/{id}/edit(id=${person.getPersonId()})}" method="get">
    <button type="submit">Изменить данные человека</button>
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}" th:object="${person}">
    <input type="submit" value="Удалить человека"/>
</form>
<br/>
<button onclick="window.location.href='/people'">Вернуться к списку людей</button>



</body>
</html>