<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
</head>
<body>

<div th:each="book : ${book}">
    <a th:href="@{book/{id}(id=${book.getBookId()})}">
        <span th:text="${book.getName()}"></span>,
        <span th:text="${book.getAuthor()}"></span>,
        <span th:text="${book.getYearOfPublishing()}"></span>
        <br/>
    </a>
</div>
<br/>
<button onclick="window.location.href='/book/new'">Добавить книгу</button>
<br/>
<button onclick="window.location.href='/library'">Вернуться назад</button>

</body>
</html>
