<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Добавить книгу</title>
</head>
<body>

<form th:method="POST" th:action="@{/book}" th:object="${book}">
  <label for="name">Введите название книги: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
  <br/>

  <label for="author">Введите имя автора: </label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
  <br/>

  <label for="year">Введите год написания книги: </label>
  <input type="text" th:field="*{yearOfPublishing}" id="year"/>
  <div style="color:red" th:if="${#fields.hasErrors('yearOfPublishing')}" th:errors="*{yearOfPublishing}">Year Error</div>
  <br/>

  <button type="submit">Сохранить</button>

</form>

</body>
</html>